body{
    background: rgb(175, 216, 202);
}

.numeros{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1 px;
}

.botones{
    margin-top: 50px;
}


/* Celulares en vertical */
@media (min-width: 320px) { 
    .numeros{
        margin-top: 150px;
        font-size: 3em;
        letter-spacing: 1 px;
        justify-content: center;
    }
    
    .madeBy{
        margin-top: 200px;
        font-size: 23px;
    }
}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 768px) { 
    .numeros{
        margin-top: 150px;
        font-size: 5em;  
    }

    .madeBy{
        margin-top: 200px;
        font-size: 40px;
    }
}

 
/* Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) {
    .numeros{
        margin-top: 300px;
        font-size: 8em;
        letter-spacing: 1 px; 
    }
    
    .madeBy{
        margin-top: 500px;
        font-size:50px;
    }
}
 
 
/* Escritorios muy anchos */
@media (min-width: 1200px) {
    .numeros{
        margin-top: 150px;
        font-size: 8em;    
    }
    
    .madeBy{
        margin-top: 200px;
        font-size: 40px;
    }
}
 